.main-layout {
  /* display: flex; */
  width: 100%;
}

.main-layout-child {
  width: 70%;
  margin: 2rem 6rem 1rem 13%;
}

.main-layout-title {
  border-bottom: 0.7px solid #d1d1d1;
  margin: 2rem 0 2rem 3rem;
}

.main-layout-title-main {
  font-size: 3rem;
  letter-spacing: 0.7rem;
}
.main-layout-title-sub {
  font-size: 1rem;
  letter-spacing: 0.3rem;
}
