.main-header {
  height: 10%;
  padding: 1.2rem 2rem 2rem 2.5rem;

  background-color: aliceblue;
  border-bottom: 2px inset;

  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  flex: 1.4;
  margin-right: 1rem;
}

.main-header-nav {
  flex: 8;
}
.main-header-nav-item {
  margin-right: 1rem;

  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1.5px 2.5px 2px gray;
  color: #3f3f3f;
}

.main-header-nav-item:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.main-header-user {
  flex: 4;
}
