.main-header {
  height: 10%;
  padding: 1.2rem 2rem 2rem 2.5rem;

  background-color: whitesmoke;
  border-bottom: 4px inset;

  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  flex: 1.4;
  margin-right: 1rem;
}

.main-header-nav {
  flex: 8;
}
.main-header-nav-item {
  margin-right: 1rem;

  font-size: 1.6rem;
  color: gray;
}
.main-header-nav-item:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.main-header-user {
  flex: 4;
}
